@using mvc.Models
@model LogOn
@{
    ViewBag.Title = "Efectuar Logon";
}

<h2>Efectuar Login</h2>
<div class="row">
    <div class="span12">
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Por favor verifique os erros", new { @class = "span6 alert-message danger"});
    
        @Html.EditorForModel()
    
        <div class="well">
            <input type="submit" value="Entrar" class="btn primary"/>
        </div>
    }
    </div>

    <div class="span4">
        <h3>Novo utilizador?</h3>
        @Html.ActionLink("Registar-me", "Register")
    </div>
</div>