@model Proposal

@{
    ViewBag.Title = String.Format( "Detalhes da proposta {0}", Model.Key);
}
<div class="container well">
    <h2>Proposta @Model.Key</h2>
    <h4>Criada por: @Model.Owner</h4>
    <h5>Estado: @Model.State</h5>
</div>

<div class="container">
    @{ Html.RenderPartial("CurricularUnitView", Model.Info); }
    @if (User.Identity.IsAuthenticated && Model.State == AbstractEntity<long>.Status.Pending)
    { 
    <div class="span8">
        <table>
            <tbody>
            <tr>
                @if (Model.Owner.Equals(User.Identity.Name))
                {
                    <td>
                        @Html.ActionLink("Editar Proposta", "Edit", new { Id = Model.Key }, new { @class = "btn primary" })
                    </td>
                }
                @if (User.IsInRole("admin")) 
                {
                    using (Html.BeginForm("Accept", "Prop", new { Id = Model.Key }, FormMethod.Post, null ))
                    {
                        <td>
                            <input type="submit" value="Aceitar Proposta" class="btn success" />
                        </td>
                    }
                }
                @if (Model.Owner.Equals(User.Identity.Name) || User.IsInRole("admin"))
                {
                    using (Html.BeginForm("Cancel", "Prop", new { Id = Model.Key }, FormMethod.Post, null))
                    {
                        <td>
                            <input type="submit" value="Cancelar Proposta" class="btn danger" />
                        </td>
                    
                    }
                }
            </tr>
            </tbody>
        </table>
    </div>
    }
</div>

