@model mvc.Models.Entities.Proposal

@{
    ViewBag.Title = String.Format( "Detalhes da proposta {0}", Model.Key);
}
<div class="container well">
    <h2>Proposta @Model.Key</h2>
    <h4>Criada por: @Model.Owner</h4>
    <h5>Estado: @Model.State</h5>
</div>

<div class="container">
    @{ Html.RenderPartial("CurricularUnitView", Model.Info); }
    @if (User.Identity.IsAuthenticated)
    { 
    <div>
        @if (Model.Owner.Equals(User.Identity.Name))
        {
            @Html.ActionLink("Editar", "Edit", new { Id = Model.Key }, new { @class = "btn primary" })
        }
        @if (User.IsInRole("admin")) 
        {
            using (Html.BeginForm("Accept", "Prop", new { Id = Model.Key }, FormMethod.Post, null ))
            {
                <input type="submit" value="Aceitar" class="btn success" />
            }
        }
        @if (Model.Owner.Equals(User.Identity.Name) || User.IsInRole("admin"))
        {
            using (Html.BeginForm("Cancel", "Prop", new { Id = Model.Key }, FormMethod.Post, null))
            {
                <input type="submit" value="Cancelar" class="btn danger" />
            }
        }
    </div>
    }
</div>

