@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span16">
        <h2>Lista de propostas</h2>
    </div>
    <div class="span4">
        <label for="pageSize">Mostrar:</label>
        @using (Html.BeginForm("Index", "Fuc", FormMethod.Get))
        {
            <div class="input">
                <select class="input-mini" name="pageSize" id="pageSize">
                    <option value="0">Tudo</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        }
    </div>
</div>
<table class="zebra-striped">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Acrónimo</th>
            <th>Nome</th>
            <th>Obrigatória</th>
            <th>Ects</th>
            <th>Criador</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="paginated-content">
        @{ Html.RenderPartial("ProposalsTableContent", Model.Items as IEnumerable<Proposal>); }
    </tbody>
</table>
<h4 id="loading-info"></h4>
@Html.PageLinks(Model.PagingInfo, (i, j) => Url.Action("Index", new { page = i, pageSize = j}))