@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista de propostas</h2>

@{ Html.RenderPartial("ProposalsTable", Model.Items); }

@Html.PageLinks(Model.PagingInfo, i => Url.Action("Index", new {page = i}));