@{
    ViewBag.Title = "Página Inicial";
}
<h2>Bem vindo!</h2>
<div class="well">
    @Html.ActionLink("Lista FUCs", "Index", "Fuc", null, new { @class = "btn" })
    @Html.ActionLink("Lista de Propostas", "Index", "Prop", null, new { @class = "btn" })
</div>