@{
    ViewBag.Title = "Página Inicial";
}

<h2>Bem vindo!</h2>
@Html.ActionLink("Lista FUCs", "Index", "Fuc")
@Html.ActionLink("Lista de Propostas", "Index", "Fuc")
<hr />
@Html.ActionLink("Efectuar Login", "LogOn", "Account")