@{
    ViewBag.Title = "Página Inicial";
}
<div class="container" align="center">
    <h2>Bem vindo!</h2>    
</div>
<div class="container well span5" align="center">
    @Html.ActionLink("Lista FUCs", "Index", "Fuc", null, new { @class = "btn" })
    @Html.ActionLink("Lista de Propostas", "Index", "Prop", null, new { @class = "btn" })
</div>