@{
    ViewBag.Title = "Página Inicial";
}

<h2>Bem vindo!</h2>
<div class="ui-button">
    @Html.ActionLink("Lista FUCs", "Index", "Fuc")
</div>
<div class="ui-button">
    @Html.ActionLink("Lista de Propostas", "Index", "Prop")
</div>

<hr />
@Html.ActionLink("Efectuar Login", "LogOn", "Account")