@model CurricularUnit


@{
    ViewBag.Title = String.Format("Detalhes da Ficha de {0}", Model.Name);
}

@{ Html.RenderPartial("CurricularUnitView", Model); }

<div class="container span6">
    @if (User.Identity.IsAuthenticated) {
        @Html.ActionLink("Proposta de alteração", "Edit", new { @Id = Model.Key }, new { @class = "btn primary" });
    }
    @Html.ActionLink("Voltar à lista", "Index", null, new { @class = "btn primary" })
</div>
