@model mvc.Models.Entities.CurricularUnit
@using System.ComponentModel.DataAnnotations


@{
    ViewBag.Title = String.Format("Detalhes da Ficha de {0}", Model.Name);
}

@{ Html.RenderPartial("CurricularUnitView", Model); }

@if (User.Identity.IsAuthenticated) { 
    <div>@Html.ActionLink("Proposta de alteração", "Edit", new { @Id = Model.Key })</div>
}
<div>@Html.ActionLink("Voltar à lista", "Index")</div>

