@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista das Unidades Curriculares</h2>

@{ Html.RenderPartial("CurricularUnitsTable", Model.Items as IEnumerable<CurricularUnit>); }
    
@Html.PageLinks(Model.PagingInfo, i => Url.Action("Index", new { page = i}))

@if (User.Identity.IsAuthenticated) {
    <div class="well">
        @Html.ActionLink("Criar proposta para nova Unidade Curricular", "New", "Fuc", null, new { @class = "btn" })
    </div>    
}
 