@using mvc.Models.Entities
@using mvc.Models.Reposiroty
@{
    ViewBag.Title = "Index";
}

<h2>Lista das Unidades Curriculares</h2>

<ul>
@{ 
    foreach( var uc in RepositoryLocator.Get<string, CurricularUnit>().GetAll() )
    {
        <li>
            @Html.ActionLink(uc.Name, "Details", "Fuc", new { id = uc.Key}, null)
        </li>
    }
}
</ul>

@if (User.Identity.IsAuthenticated) {
    <div class="well">
        @Html.ActionLink("Criar proposta para nova Unidade Curricular", "New", "Fuc", null, new { @class = "btn" })
    </div>    
}
 