@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista das Unidades Curriculares</h2>

<label for="nitems">Mostrar:</label>

@using (Html.BeginForm("Index", "Fuc", FormMethod.Get))
{
    <div class="input">
        <select name="pageSize" id="pageSize">
            <option value="0">Todos</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
}

<table class="zebra-striped">
    <thead>
            <tr>
            <th></th>
            <th>Acrónimo</th>
            <th>Nome</th>
            <th>Obrigatória</th>
            <th>Ects</th>
        </tr>
    </thead>
    <tbody id="paginated-content">
        @{ Html.RenderPartial("CurricularUnitsTableContent", Model.Items as IEnumerable<CurricularUnit>); }
    </tbody>
</table>
<h4 id="loading-info"></h4>
@Html.PageLinks(Model.PagingInfo, (i, j) => Url.Action("Index", new { page = i, pageSize = j}))

@if (User.Identity.IsAuthenticated) {
    <div class="well">
        @Html.ActionLink("Criar proposta para nova Unidade Curricular", "New", "Fuc", null, new { @class = "btn" })
    </div>    
}
 