@using mvc.Models.Entities
@model CurricularUnit

@{
    ViewBag.Title = "Criar nova Unidade Curricular";
}

<h2>Criar Nova Unidade Curricular</h2>

<div>
@using (@Html.BeginForm(Html.BeginForm("New", "Fuc", FormMethod.Post, new { @class = "form-stacked" })))
{
    @Html.EditorForModel()
    
    <div class="well">
        <input type="submit" value="Guardar" class="btn primary"/>
        @Html.ActionLink("Cancelar", "Index", "Fuc", null, new { @class = "btn danger" })
    </div>
    
}
</div>
