@model List<IEnumerable<KeyValuePair<string, string>>>
@foreach (var idxList in Model) {
    foreach (KeyValuePair<string, string> kvp in idxList) { 
        <tr><td><a href='@kvp.Key'>@kvp.Value</a></td></tr>
    }
}