@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div class="container">
        <img src="@Url.Content("~/Content/lego-404.png")" alt="Sorry, an error occurred while processing your request."/>
    </div>
</body>
</html>